= form_for @driver1 do |f|
  - if @driver1.errors.any?
    #error_explanation
      %h2= "#{pluralize(@driver1.errors.count, "error")} prohibited this driver1 from being saved:"
      %ul
        - @driver1.errors.full_messages.each do |msg|
          %li= msg
  .container
    .row
      .col-md-5
        .form-group
          = f.label :fn
          %br
          = f.text_field :fn
      .col-md-5
        .form-group
          = f.label :sn
          %br
          = f.text_field :sn
      .col-md-5
        .form-group
          = f.label :ln
          %br
          = f.text_field :ln
      .col-md-5
        .form-group
          = f.label :birthday
          %br
          .input-group.date.datepicker
            = f.text_field(:birthday, value: lnil(f.object.birthday), class: 'form-control')
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
      .col-md-5
        .form-group
          = f.label :inn
          %br
          = f.number_field :inn
      .col-md-5
        .form-group
          = f.label :series_p
          %br
          = f.number_field :series_p
      .col-md-5
        .form-group
          = f.label :number_p
          %br
          = f.number_field :number_p
  .container
    .row
      .col-md-12
        .form-group
          %h2 Автомобиль
          =f.fields_for :cars do |fm|
            .col-md-5
              .form-group
                = fm.label :mark, "Марка"
                %br
                = fm.text_field :mark
            .col-md-5
              .form-group
                = fm.label :license_plate, "Гос. номер"
                %br
                = fm.text_field :license_plate
            .col-md-5
              .form-group
                = fm.label :color, "Цвет"
                %br
                = fm.text_field :color
            .col-md-5
              .form-group
                = fm.label :class_c, "Класс"
                %br
                = fm.select :class_c, [['Бизнес','Бизнес'],['Эконом','Эконом']]
            .col-md-5
              .form-group
                = fm.label :year_of_issue, "Год выпуска"
                %br
                = fm.number_field :year_of_issue
  .container
    .row
      .actions
        .col-md-12
          .form-group
            = f.submit 'Сохранить', class: 'btn btn-primary'
