=breadcrumb_tag do
  %li.active
    = t('headers.driver1s.edit')
  %li
    = link_to(@driver1.fn, @driver1)
  %li
    = link_to 'Список автомобилей', driver1s_path
    
.page-header
  %h1= t('headers.driver1s.edit')

= render 'form'
