%p#notice= notice
=breadcrumb_tag do
  %li.active
    = @order.address_o
  %li
    = link_to 'Списов заказов', orders_path

%h1= @order.address_o

%p.list-group-item
  %b Дата:
  = @order.date_o
%p.list-group-item
  %b Время:
  = @order.time_o
%p.list-group-item
  %b Адрес подачи такси:
  = @order.address_o
%p.list-group-item
  %b Предположительный адрес следования такси:
  = @order.address_p
%p.list-group-item
  %b Количество пассажиров:
  = @order.number_p
%p.list-group-item
  %b Ориентировочная длина маршрута:
  = @order.route_length
