%p#notice= notice
=breadcrumb_tag do
  %li.active
    = @car.mark
  %li
    = link_to 'Списов автомобилей', cars_path

%h1= @car.mark

%p.list-group-item
  %b Марка:
  = @car.mark
%p.list-group-item
  %b Класс:
  = @car.class_c
%p.list-group-item
  %b Госномер:
  = @car.license_plate
%p.list-group-item
  %b Цвет:
  = @car.color
%p.list-group-item
  %b Год выпуска:
  = @car.year_of_issue
