= form_for @rate do |f|
  - if @rate.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rate.errors.count, "error")} prohibited this rate from being saved:"
      %ul
        - @rate.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name_r
    = f.text_area :name_r
  .field
    = f.label :times_of_day
    = f.select :times_of_day, [['День','День'],['Ночь','Ночь']]
  .field
    = f.label :range
    = f.select :range, [['В пределах МКАД','В пределах МКАД'],['За МКАД','За МКАД'],['Подмосковье','Подмосковье']]
  .field
    = f.label :price
    = f.text_field :price
  .actions
    = f.submit 'Сохранить'
