%p#notice= notice
=breadcrumb_tag do
  %li.active
    = @rate.name_r
  %li
    = link_to 'Список тарифов', rates_path

%h1= @rate.name_r

%p.list-group-item
  %b Название:
  = @rate.name_r
%p.list-group-item
  %b Время суток:
  = @rate.times_of_day
%p.list-group-item
  %b Дальность поездки с точки зрения удалённости от центра Москвы :
  = @rate.range
%p.list-group-item
  %b Цена за километр пути:
  = @rate.price
